{% load season_results %}
<div class="container">
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'f1data:seasons' 1 %}">First</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'f1data:seasons' page_obj.previous_page_number%}">Previous</a></li>
    {% endif %}

    {% for page in pages %}
      <li class="page-item {% if page == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'f1data:seasons' page%}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{% url 'f1data:seasons' page_obj.next_page_number %}">Next</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'f1data:seasons' page_obj.paginator.num_pages %}">Last</a></li>
    {% endif %}
  </ul>
</nav>
  <div class="row row-cols-3 row-cols-sm-1 row-cols-md-3 my-3 g-3">
    {% for season in seasons %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{season.year}}</h5>
          <table class="table">
            <thead>
              <tr>
                {% if forloop.first %}
                <th scope="col">Drivers Leader</th>
                <th scope="col">Constructors Leader</th>
                {% else %}
                <th scope="col">Drivers Champion</th>
                <th scope="col">Constructors Champion</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{season.year | driver}}</td>
                <td>{{season.year | constructor}}</td>
              </tr>
            </tbody>
          </table>
          <a href="{% url 'f1data:detail_season' season.year %}" class="btn btn-primary">Season Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
