<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'f1data:home' %}">F1racingdata</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'f1data:seasons' 1 %}">Seasons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'f1data:races' %}">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'f1data:drivers' %}">Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'f1data:constructors' %}">Constructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'f1data:driver_standings' %}">Driver Standings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'f1data:constructors_standings' %}">Constructor Standings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
